<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/cart.css}" />
  </head>
  <body>
    <div>
      <header class="header">
        <a href="" class="logo"><i class="fas fa-capsules"></i>G8-Shop</a>
        <nav class="navbar">
          <a class="a" href="/user/homelogged">Trang chủ</a>
          <div class="a a1" href="">
            Sản phẩm
            <div class="hover">
              <a class="link" href="">Dụng Cụ Leo Núi</a>
              <a class="link" href="">Trang Bị Nhảy Dù</a>
              <a class="link" href="">Trang Bị Thể Thao Dưới Nước</a>
              <a class="link" href="">Dụng Cụ Thể Thao Đạp Xe</a>
            </div>
          </div>
          <div class="a a1" href=""> Thông tin
          </div>
          <div href="" class="a a1">Tài khoản
            <div class="hover" style="width: 200px; height: auto; padding-bottom: 2rem;">
              <a class="linka" th:href="@{/user/profile}">Thông tin tài khoản</a>
              <a th:href="@{/users/login}" class="linka">Đăng nhập</a>
              <a class="linka" th:href="@{/users/logout}">Đăng xuất</a>
            </div>
          </div>
        </nav>
        <div class="icon" id="icon" style="display: flex">
          <div id="menu-btn" class="icons fas fa-bars"></div>
          <a th:href="@{/cart/list}" > <i class="icons fas fa-shopping-cart"></i> </a>
          <div id="search" class="icons fas fa-search"></div>
          <form action="" id="form" style="display: flex; position: relative; bottom: 0.5rem;"></form>
        </div>
      </header>
    </div>
   
    <section class="section">
      <h2 style="font-size: 2rem; margin-top: 2rem;">Giỏ hàng</h2>
      <table> 
        
        <tr style="font-size: 2rem; height: 5rem">
          <td>Sản phẩm</td>
          <td>Số lượng</td>
          <td>Đơn giá</td>
          <td></td>
        </tr>
        <tr th:each="item : ${list}">
          <td style="display: flex; font-size: 1.3rem">
            <img
              th:src="${item.product.image!=null ?'/cart/images/'+ item.product.image :'images/noimage.jpg'}"
              class="img"
              alt=""
            />
            <div style="margin-left: 2rem">
              <div class="name" th:text="${item.product.name}"></div>
              <div class="price" th:text="${item.product.unitPrice}"></div>
            </div>
          </td>
          <td>
            <form action="/cart/update" method="post">
              <input type="hidden" th:value="${item.id}" name="id" id="id" />
              <input
                type="number" th:value="${item.quantity }" onblur="this.form.submit()"
                name="quantity"
                style="
                  width: 5rem;
                  height: 3rem;
                  border: solid black 1px;
                  text-align: center; "
              />
            </form>
          </td>
          <td th:text="${item.quantity*item.product.unitPrice}" class="unitPrice" style="font-size: 1.4rem;"></td>
          <td style="font-size: 1.4rem;"><a th:href="@{'/cart/delete/'+${item.id}}"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        <tr>
          <td style="font-size: 1.5rem;">Thành tiền</td>
          <td></td>
          <td style="font-size: 1.5rem;" id="price"></td>
          <td></td>
        </tr>
      </table>
    </section>
    <script th:src="@{/js/cart.js}" ></script>
  </body>
</html>
