<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboard.html}"
>
  <head> </head>

  <body>
    <section class="col-10" layout:fragment="content">
      <div class="card">
        <div class="card-header">Tìm kiếm tài khoản</div>
        <div class="card-body">
          <div class="row mt-2 mb-2">
            <div class="col">
              <form th:action="@{/admin/accs/searchpaginated}">
                <div class="form-inline float-left">
                  <label for="name">Tên:</label>
                  <input
                    type="text"
                    class="form-control ml-2"
                    name="name"
                    id="name"
                    aria-describedby=""
                    placeholder="name"
                  />
                  <button class="btn btn-outline-primary ml-2">Tìm kiếm</button>
                </div>
              </form>
              <div class="float-right">
                <a class="btn btn-outline-primary" th:href="@{/admin/accs/add}">Thêm mới tài khoản</a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
              <tr>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="list,row : ${accs}">
                <td scope="row" th:text="${list.username}"></td>
                <td th:text="${list.password}"></td>
                <td style="display: flex;">
                  <a
                    th:href="@{'/admin/accs/view/' + ${list.username}}"
                    class="btn btn-outline-infor"
                    ><i class="fas fa-info"></i>INFOR</a
                  >
                  <a
                    th:href="@{'/admin/accs/edit/' + ${list.username}}"
                    class="btn btn-outline-warning"
                    ><i class="fas fa-edit"></i>EDIT</a
                  >
                  <a
                    th:href="@{'/admin/accs/delete/' + ${list.username}}"
                    class="btn btn-outline-danger"
                    ><i class="fas fa-recycle"></i>DEL</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </section>
  </body>
</html>
