<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/admin.css">
</head>

<body>
    <main class="container text-center" style="position: relative; right: 100px;">
        <header class="row text-center">
        </header>

        <section class="col offset-3 mt-4">
            <div class="card">
                <div class="card-header">
                    List of Category
                </div>
                <div class="card-body">
                  <div class="row mt-2 mb-2">
                    <div class="col">
                      <form th:action="@{/admin/products/searchpaginated}">
                        <div class="form-inline float-left">
                          <label for="name">Name:</label>
                          <input type="text" class="form-control ml-2" name="name" id="name" aria-describedby="" placeholder="name">
                          <button class="btn btn-outline-primary ml-2">Search</button>
                        </div>
                      </form>
                      <div class="float-right">
                        <a class="btn btn-outline-primary" th:href="@{/admin/products/add}">Add new category</a>
                      </div>
                    </div>
                  </div>
                  <div class="row" th:if="${!productPage.hasContent()}">
                    <div class="col">
                      <div class="alert alert-danger" role="alert">
                        <strong>No category found</strong>
                      </div>
                    </div>
                  </div>
                    <table class="table table-striped table-inverse table-responsive" th:if="${productPage.hasContent()}">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Category ID</th>
                                <th>Name</th>
                                <th>row</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="list,row : ${productPage.content}">
                                    <td scope="row" th:text="${list.productId}"></td>
                                    <td th:text="${list.name}"></td>
                                    <td th:text="${row.index+1}"></td>
                                    <td>
                                        <a th:href="@{'/admin/products/view/' + ${list.productId}}" class="btn btn-outline-infor"><i class="fas fa-info    "></i>INFOR</a>
                                        <a th:href="@{'/admin/products/edit/' + ${list.productId}}" class="btn btn-outline-warning"><i class="fas fa-edit    "></i>EDIT</a>
                                        <a th:href="@{'/admin/products/delete/' + ${list.productId}}" class="btn btn-outline-danger"><i class="fas fa-recycle    "></i>DEL</a>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                  <form action="">
                    <div class="form-inline float-left">
                      <label for="size">Page size:</label>
                      <select name="size" id="size" class="form-control" onchange="this.form.submit()">
                        
                        <option th:selected="${productPage.size == 5}" value="5">5</option>
                        <option th:selected="${productPage.size == 10}" value="10">10</option>
                        <option th:selected="${productPage.size == 15}" value="15">15</option>
                        <option th:selected="${productPage.size == 20}" value="20">20</option>
                      </select>
                    </div>
                  </form>
                    <nav aria-label="Page navigation" th:if="${productPage.totalPages> 0}">
                      <ul class="pagination justify-content-center">
                        <!-- th:class="${1 == productPage.number + 1 } ? 'page-item active' : 'page-item'" -->
                        <li>
                          <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${1})}"
                          class="page-link"
                          >First
                          </a>
                        </li>


                        <li class="page-item active" th:each="pageNumber : ${pageNumber}" th:if="${productPage.totalPages > 1}"> 
                        <!-- th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'" -->
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${productPage.size}, page=${pageNumber})}"
                        class="page-link"
                        th:text="${pageNumber}"
                        ></a></li>
                        <!-- th:class="${ productPage.totalPages == productPage.number + 1 } ? 'page-item active' : 'page-item'"> -->

                        
                        <li>
                          <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
                          class="page-link"
                          >Last
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
           
        </section>
        <footer class="row"></footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>